      <label>Busca ofertas: </label>
      <input type="text" class="filtre" ng-model="$ctrl.filtro" style="vertical-align: middle;" ng-change="changeFilter()">&nbsp;
<div id="offerItem" ng-repeat="offer in $ctrl.offersFilter" class="container" >
      <div class="row">
        <div max-width: "100%" class="col-md-6" >
            <img src="{{offer.image}}" height="220" width="400"/>
          </div>
        <div class="col-md-6"><span class="pull-left"><h1>{{offer.empresa}}</h1></span></div>
        <div class="col-md-6"><span class="pull-left">Descripción: {{offer.descripcion}}</span></div>
        <div class="col-md-6"><span class="pull-left">Requisitos: {{offer.requisitos}}</span></div>
        <div class="col-md-6"><span class="pull-left">Sueldo: {{offer.sueldo}}</span></div>
        <div class="col-md-6"><span class="pull-left"><button class="btn btn-lg btn-primary pull-xs-right"
          type="button"       
          ng-click="openDetails(offer._id)"
          >More info</button></span></div>  
      </div>
          <br>
        </div>
        <div id="pager">
            <ul uib-pagination class="pagination-sm" boundary-link-numbers="true"
             total-items="$ctrl.offers.length" ng-model="$ctrl.currentPage"
              items-per-page="$ctrl.itemsPerPage" ng-change="$ctrl.pageChanged()">
            </ul>
          </div>
      </div>