<!--<nav>
    <div>
  
      <a ui-sref="app.home"
        ng-bind="::$ctrl.appName | lowercase">
      </a>
  
      <!-- Show this for logged out users --> <!--
      <ul show-authed="false"
        class="nav navbar-nav pull-xs-right">
  
        <li class="nav-item">
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.home">
            Home
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.contact">
            Contact
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.login">
            Sign in
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.register">
            Sign up
          </a>
        </li>
  
      </ul>
  
      <!- - Show this for logged in users --> <!--
      <ul show-authed="true"
        class="nav navbar-nav pull-xs-right">
  
        <li class="nav-item">
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.home">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.contact">
            Contact
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.logout">
            Logout
          </a>
        </li>
  
      </ul>
  
  
    </div>
  </nav>-->
  <!-- BEGAIN PRELOADER -->
 

  <!-- End login modal window -->

  <!-- BEGIN MENU -->
  <section id="menu-area">      
    <nav class="navbar navbar-default" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <!-- LOGO -->              
          <!-- TEXT BASED LOGO -->
          <a class="navbar-brand" ui-sref="app.home"
        ng-bind="::$ctrl.appName">
      </a>             
          <!-- IMG BASED LOGO  -->
           <!-- <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="logo"></a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul show-authed="false" id="top-menu" class="nav navbar-nav navbar-right main-nav">
            <li><a class="nav-link"
              ui-sref-active="active"
              ui-sref="app.home">
              Home
            </a></li>               
            <li><a class="nav-link"
              ui-sref-active="active"
              ui-sref="app.contact">
              Contact
            </a></li>
            <li><a class="nav-link"
              ui-sref-active="active"
              ui-sref="app.login">
              Sign in
            </a></li>
            <li><a class="nav-link"
              ui-sref-active="active"
              ui-sref="app.register">
              Sign up
            </a></li>
            <a href="http://localhost:3000/api/auth/twitchtv" ><i class="fa fa-twitch"></i></a>
            <a href="http://localhost:3000/api/auth/googleplus" ><i class="fa fa-google"></i></a>
          </ul>
          <ul show-authed="true" id="top-menu" class="nav navbar-nav navbar-right main-nav">
            <li><a class="nav-link"
              ui-sref-active="active"
              ui-sref="app.home">
              Home
            </a></li>               
            <li><a class="nav-link"
              ui-sref-active="active"
              ui-sref="app.contact">
              Contact
            </a></li>
            <li><a class="nav-link"
              ui-sref-active="active"
              ui-sref="app.logout">
              Logout
            </a></li>
          </ul>                                          
        </div><!--/.nav-collapse -->
      </div>     
    </nav>
  </section>